<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
</head>

<body>
 <% include partials/navbar.ejs %>

        <!-- MAIN CONTENT -->


        <h1><%= title %></h1>
        <h2>Homepage for the Client</h2>



        <% include partials/footer.ejs %>